<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	
	
	<!-- 每个系统的所有spring配置文件有一个配置扫描注解的就可以了，必须要有一个[每个系统的多个spring配置文件其实可以合为一个，都是一样的] -->
	<context:annotation-config/>
	<context:component-scan base-package="com.heima.express.crm"/>
	
	
	
	<!-- 相当于配置了映射器器和适配器 -->
	<mvc:annotation-driven/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 释放静态资源 -->
	<mvc:default-servlet-handler/>
	
	
	<!-- 创建直接跳转，不用写空的action方法，视图解析器的前后缀仍然有效 -->
		
		
	<!-- 文件上传 -->							
	 <bean id="multipartResolver"									
	       class="org.springframework.web.multipart.commons.CommonsMultipartResolver">									
	       	<property name="defaultEncoding" value="UTF-8"/>
	       	<!-- 上传的文件最大是多少 -->								
	       	<property name="maxUploadSize" value="5242880"/>
	       	<!-- 配置缓冲 <property name="maxInMemorySize" value="1024"/>	 -->							
	 </bean>									
										
	
	<!-- 手写拦截器 -->
	
</beans>
