<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	
	
	<context:annotation-config/>
	<context:component-scan base-package="com.heima.express.portal"/>
	
	
	<!-- 相当于配置了影视器和适配器 -->
	<mvc:annotation-driven/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 释放静态资源 -->
	<mvc:default-servlet-handler/>
	
		
									
	 <bean id="multipartResolver"									
	       class="org.springframework.web.multipart.commons.CommonsMultipartResolver">									
	       	<property name="defaultEncoding" value="UTF-8"/>
	       	<!-- 上传的文件最大是多少 -->								
	       	<property name="maxUploadSize" value="5242880"/>
	       	<!-- 配置缓冲 <property name="maxInMemorySize" value="1024"/>	 -->							
	 </bean>									
										
	
	
		
		
		
	
</beans>
